{% extends 'base.html.twig' %}

{% block title %}Recipes
{% endblock %}

{% block body %}
    <main style="display:flex; flex-direction:column;">
        <h1>Recettes sucrées - salées</h1>
        <!--////////////////////////////////////////title, tag and picture///////////////////////////////////////-->
        <h3>{{ recipe.title }}
            <span class="tagy">
                {% for tag in recipe.tags %}
                    {{ tag.name }}
                {% endfor %}
            </span>
        </h3>
        <div class="contain">
            <img
            src="{{ recipe.picture }}" alt="" class="w-50">
            <!--///////////////////////////////////////////cooking Tools/////////////////////////////////////////////-->
            <div id="ingcook">
                <aside class="cooktool">
                    {% for cookingTool in recipe.cookingTools %}
                        <ul>
                            <li>{{ cookingTool.name }}</li>
                        </ul>
                    {% endfor %}
                </aside>
            <!--///////////////////////////////////////////cooking Tools////////////////////////////////////////////////-->
            <!--///////////////////////////////////////////ingredients////////////////////////////////////////////////-->
                <aside class="ingredients">

                    {% for ingredient in recipe.ingredient %}
                        <ul>
                            <li>{{ingredient.quantity}}
                                {{ingredient.unity}}
                                {{ingredient.name}}
                            </li>
                        </ul>
                    {% endfor %}
                </aside>
            <!--///////////////////////////////////////////ingredients////////////////////////////////////////////////--> 
            </div>
        </div>
        <!--/////////////////////////////////////////cook and preparation///////////////////////////////////-->
        <div class="recipe">
            <span>{{ recipe.timeCook }}
                minutes de cuisson</span>
            <span>{{ recipe.preparationTime }}
                minutes de prépation</span>
            <span>environ
                {{ recipe.price }}
                euros</span>
        </div>

        <!--///////////////////////////////////////////////steps////////////////////////////////////////////////-->
        <div class="steps">
            {% for step in recipe.steps %}
                <ul>
                    <li>
                        <span class="steptitle">étape
                            {{ step.spot }}
                            :</span>
                        {{ step.description }}</li>
                </ul>
            {% endfor %}
        </div>

    </main>
{% endblock %}

